
.DialogGeneralCategoriesDataSearchContainer{
   width: 654px;
   height: 38px;
   padding-left:8px;
   padding-right:8px;
   background: rgba(72,160,211,0.20);
 }
 
 .DialogGeneralCategoriesDataTitleSlash {
   border-left: 4px #FFFFFF solid;
   margin-left: 6px;
   margin-right: 8px;
 }
 
 
 .DialogGeneralCategoriesDataContent {
   position: relative;
   height: 342px;
 }
 
  .DialogSimpleContent{
    height: 376px;
    overflow-x:hidden;
    overflow-y: auto ;
    background-color: white;
    margin: 4px;

  }
 
 .DialogGeneralCategoriesDataFooter{
   width: 654px;
   height: 38px;
   background: #FFFFFF;
   box-shadow: 0px -2px 2px 0px rgba(71,160,210,0.3);
   padding: 4px;
 }
 
  .DialogGeneralCategoriesDataCatContainer
  {
    width: 144px;
    height:100%;
    border-right: 1px #cfcfcf solid ;
  }
 
  /* 分类单元格 */
  .DialogGeneralCategoriesDataCatCell
  {
    width: 140px;
    height: 36px;
    margin-bottom: 2px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
  }
 
  .DialogGeneralCategoriesDataCatCell.Active {
   background: #ECF7FF;
   border: 1px solid #48A0D3;
  }
 
  .DialogGeneralCategoriesDataDataContainer{
    position: absolute;
    top:0px;
    left:146px;
    width: 506px;
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
  }
 

 .DialogGeneralCategoriesDataDataCell
 {
    position: relative;
    width: 100%;
    opacity: 0.9;
    background: #FFFFFF;
    cursor: pointer;
    padding: 6px;
    padding-right: 32px;
    padding-left: 16px;
    border-bottom: 1px solid rgb(200,200,200);
 }

 .DialogGeneralCategoriesDataDataCell.Active{
    border: 2px solid #48A0D3;
 }

 