
.AppContainer {
  position: relative;
  background-color: #F8F9FA;
  min-height: 100vh;
  width: 100%;
 
}

.App-link {
  color: #61dafb;
}




.AppCanvasContainer {
  position: relative;
  margin:auto ;
  /* background-color: #fff;  */
  height:calc(100vh - 68px);
  width: calc(100% - 600px);
  
}

.AppCanvasContainerInner {
  position: relative;
  width: 1188px;
  height: 840px;
  background-color: #fff; 
  margin:auto ;
  
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

